.about {
  padding: 0 0 120px;

  @include vp-1024 {
    padding: 0 0 80px;
  }

  h2 {
    @include reset-margins;
    font: 400 2.25em/1.3em $ff-titles;
    color: $color-dark-blue;
    margin-bottom: 15px;

    @include vp-1024 {
      margin-bottom: 10px;
    }

    @include vp-768 {
      font: 400 1.75em/1.2em $ff-titles;
      margin-bottom: 15px;
    }
  }
}

.about__wrapper {
  position: relative;
  padding: 0 0 0 250/1220 * 100%;

  @include vp-1024 {
    padding: 0 0 0 175px;
  }

  @include vp-768 {
    padding: 0;
  }

  &::before {
    content: "2022";
    position: absolute;
    top: 84px;
    left: -68px;

    background: url("../img/year-bg.jpg");
    background-color: $color-light-blue;
    background-repeat: no-repeat;
    background-position: 20% 60%;
    text-transform: uppercase;
    text-align: center;
    color: transparent;
    background-clip: text;

    @include retina {
      background-image: url("../img/year-bg@2x.jpg");
      background-size: 155.8%;
    }

    display: inline-block;
    vertical-align: middle;
    font: 700 156px/1em $ff-titles;
    transform: rotate(-90deg);

    @include vp-768 {
      display: none;
    }
  }

  p {
    @include reset-margins;
    color: $color-dark-blue;
    font: 400 1em/1.4em $ff-default;
    margin-top: 20px;
    //margin-bottom: 20px;
    height: auto;
    visibility: visible;
    overflow: auto;
    opacity: 1;
    transition: all 0.3s ease 0s;

    @include vp-1024 {
      line-height: 1.36em;
    }

    @include vp-768 {
      font: 400 0.88em/1.33em $ff-default;
    }

    &:last-of-type {
      margin-bottom: 20px;
    }
  }
}

.about__wrapper > p:first-of-type {
  margin-top: 0;
}

.about__wrapper > p:last-of-type {
  margin-top: 0;

  @include vp-768 {
    height: 0;
    visibility: hidden;
    overflow: hidden;
    margin-bottom: 0;
    opacity: 0;
  }
}

.about__wrapper--active-text > p:last-of-type {
  @include vp-768 {
    height: auto;
    visibility: visible;
    overflow: auto;
    opacity: 1;
  }
}

.about__text-inactive {
  p {
    height: 0;
    visibility: hidden;
    overflow: hidden;
    margin-top: 0;
    opacity: 0;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.about__link {
  display: inline-block;
  vertical-align: middle;
  width: 180px;
  padding: 14px 12px;
  font: 700 0.88em/1em $ff-titles;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  color: $color-light-blue;
  border: 1px solid $color-light-blue;
  border-radius: 3px;
  user-select: none;
  cursor: pointer;
  margin-top: 20px;
  transition: color 0.3s ease 0s, background-color 0.3s ease 0s, transform 0.3s ease 0s;

  @include vp-1024 {
    margin-top: 0;
  }

  @include vp-768 {
    margin-top: 12px;
    width: 160px;
    padding: 11px;
  }

  span:last-of-type {
    display: none;
  }

  @media (hover: hover), screen and (min-width: $vp-1024) {
    &:hover,
    &:focus {
      outline: none;
      color: $color-light;
      background-color: $color-light-blue;
    }
  }

  &:active {
    transform: scale(0.9);
  }

  &--active {
    span:last-of-type {
      display: inherit;
    }

    span:first-of-type {
      display: none;
    }
  }
}
