.about {
  padding: 0 0 120px;

  @include vp-1024 {
    padding: 0 0 80px;
  }

  h2 {
    @include reset-margins;
    font: 400 2.25em/1.2em $ff-titles;
    color: $color-dark-blue;
    margin-bottom: 15px;

    @include vp-768 {
      font: 400 1.75em/1.2em $ff-titles;
    }
  }
}

.about__wrapper {
  position: relative;
  padding: 0 0 0 280/1220 * 100%;

  @include vp-1024 {
    padding: 0 0 0 180px;
  }

  @include vp-768 {
    padding: 0;
  }
}

.about__mask {
  @include reset-margins;
  position: absolute;
  top: 80px;
  left: -80px;

  background:url("../img/year-bg.jpg");
  background-repeat: no-repeat;
  background-position: 20% 60%;
  text-transform: uppercase;
  text-align: center;
  color: transparent;
  background-clip: text;
  //background-size: cover;

  display: inline-block;
  vertical-align: middle;
  font: 700 156px/1em $ff-titles;
  transform: rotate(-90deg);

  @include retina {
    background-image: url("../img/year-bg@2x.jpg");
    background-size: 155%;
  }

  @include vp-768 {
    display: none;
  }
}

.about__text {
  @include reset-margins;
  color: $color-dark-blue;
  font: 400 1em/1.2em $ff-default;
  margin-bottom: 20px;
  height: auto;
  visibility: visible;
  overflow: none;
  opacity: 1;
  transition: all 0.3s ease 0s;

  @include vp-768 {
    font: 400 0.88em/1em $ff-default;
  }

  &--inactive {
    height: 0;
    visibility: hidden;
    overflow: hidden;
    margin-bottom: 0;
    opacity: 0;
  }
}

.about__link {
  display: inline-block;
  vertical-align: middle;
  padding: 14px 12px;
  font: 700 0.88em/1em $ff-titles;
  letter-spacing: 5%;
  text-transform: uppercase;
  color: $color-light-blue;
  border: 1px solid $color-light-blue;
  border-radius: 3px;
  user-select: none;
  cursor: pointer;
  transition: color 0.3s ease 0s, background-color 0.3s ease 0s, transform 0.3s ease 0s;

  span:last-of-type {
    display: none;
  }

  @media (hover: hover), screen and (min-width: $vp-1024) {
    &:hover,
    &:focus {
      outline: none;
      color: $color-light;
      background-color:  $color-light-blue;
    }
  }

  &:active {
    transform: scale(0.9);
  }

  &--active {
    span:last-of-type {
      display: inherit;
    }

    span:first-of-type {
      display: none;
    }
  }
}
