.footer {
  background-color: $color-dark-blue;
  padding: 50px 0 55px;

  @include vp-1024 {
    padding: 50px 0 65px;
  }

  @include vp-768 {
    padding: 35px 0;
  }
}

.footer__wrapper {
  display: grid;
  grid-template-columns: max-content auto;
  grid-template-rows: 55px max-content;
  gap: 33px 12.5%;

  @include vp-1024 {
    grid-template-columns: 215px auto;
    grid-template-rows: max-content auto;
    gap: 35px 10%;
  }

  @include vp-768 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px 0;
    align-items: center;
  }
}

.footer__logo {
  img {
    width: 215px;
    height: 55px;
  }
}

.footer__social-list {
  grid-column-start: 1;
  grid-column-end: 2;
  align-self: flex-start;

  @include vp-1024 {
    grid-column-start: 2;
    grid-column-end: -1;
    align-self: center;
  }
}

.footer__footer-nav {
  @include reset-margins;
  padding: 7px 0 0 10px;
  display: flex;
  justify-content: space-between;
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: -1;
  position: relative;

  @include vp-1024 {
    padding: 0;
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 2;
    grid-row-end: -1;
  }

  @include vp-768 {
    flex-direction: column;
    align-self: flex-start;
    gap: 0;
    width: 100%;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: -$mobile-padding;
      right: -$mobile-padding;
      height: 1px;
      background-color: rgba($color-light-svg, 0.7);
    }
  }
}

.footer__nav-item {
  flex: 0 1 44.5%;
  position: relative;

  &:last-of-type {
    flex: 0 1 41%;
  }

  @include vp-1024 {
    flex: 0 1 35%;

    &:last-of-type {
      flex: 0 1 48%;
    }
  }

  @include vp-768 {
    flex: 0 1 100%;

    &:last-of-type {
      flex: 0 1 100%;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -$mobile-padding;
      right: -$mobile-padding;
      height: 1px;
      background-color: rgba($color-light-svg, 0.7);
    }
  }
}
