.footer-links {
  @include reset-margins;
  list-style: none;

  p {
    @include reset-margins;
    font: 400 0.94em/1em $ff-titles;
    letter-spacing: 0.05em;
    color: $color-default-white;
    text-transform: uppercase;
    padding: 0 0 23px 0;
    position: relative;

    @include vp-768 {
      padding: 23px 0;
      cursor: pointer;
      user-select: none;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 2px;
        width: 15px;
        height: 1px;
        background-color: $color-light-svg;
        transition: transform 0.3s ease 0s;
      }
    }
  }

  @include vp-768 {
    &--inactive {
      p {
        &::after {
          transform: rotate(90deg);
        }
      }

      ul {
        height: 0;
        visibility: hidden;
        overflow: hidden;
        margin-bottom: 0;
        opacity: 0;
      }
    }

    &--active {
      p {
        &::after {
          transform: rotate(0deg);
        }
      }

      ul {
        height: auto;
        visibility: visible;
        overflow: none;
        opacity: 1;
      }
    }
  }
}

.footer-links__links {
  @include reset-margins;
  list-style: none;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(4, min-content);
  gap: 12px 10px;
  grid-auto-flow: column;

  &--office {
    grid-template-columns: 1fr;
  }

  @include vp-1024 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 9px;
  }

  @include vp-768 {
    transition: all 0.3s ease 0s;
    margin-bottom: 8px;
    transform: translateY(-8px);
    gap: 10px;
  }

  li {
    opacity: 0.7;
    font: 400 1em/1.2em $ff-default;

    @include vp-1024 {
      font: 400 1em/1.3em $ff-default;
    }

    @include vp-768 {
      font: 400 0.88em/1.55em $ff-default;
    }
  }

  a {
    color: $color-default-white;
    position: relative;

    @include vp-768 {
      line-height: 1em;
    }

    @media (hover: hover), screen and (min-width: $vp-1024) {
      &:hover,
      &:focus {
        &::before,
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 8px;
          height: 8px;
          border-radius: 50%;
          border: 2px solid $color-light-blue;
        }

        &::after {
          left: -18px;
        }

        &::before {
          right: -18px;
        }
      }
    }

    &:active {
      color: $color-light-blue;
    }
  }
}

.footer-links__address {
  @include vp-768 {
    margin-bottom: 5px;
  }
}
