.header {
  background: $blue-to-transporent;
  position: fixed;
  z-index: 20;
  width: 100%;
  padding: 30px 0 35px;

  @include vp-1024 {
    padding: 20px 0 25px;
  }

  @include vp-768 {
    padding: 15px 0 20px;
  }
}

.header__main-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 60px 0 0;

  @include vp-1024 {
    padding: 0 20px 0 0;
  }

  @include vp-768 {
    padding: 0 10px 0 0;
  }
}

.header__logo {
  img {
    width: 215px;
    height: 55px;

    @include vp-768 {
      width: 35px;
      height: 35px;
    }
  }
}

.header__menu {
  @include reset-margins;
  list-style: none;
  flex: 0 1 42%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 5px 0;
  gap: 0 20px;

  @include vp-1024 {
    flex: 0 1 65%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    justify-content: flex-end;
  }

  @include vp-768 {
    margin-top: -5px;
    flex: 0 0 80%;
  }
}

.header__link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0 5px;
  color: $color-light;
  font: 400 1em/1em $ff-default;

  @media (hover: hover), screen and (min-width: $vp-1024) {
    &:hover,
    &:focus {
      outline: none;
      color: $color-light-blue;
    }
  }

  span {
    @include vp-1024 {
      display: none;
    }
  }

  &:active svg {
    stroke: $color-light;
  }
}

.header__open-popup {
  display: block;
  margin-top: 5px;
  padding: 12px 15px;
  color: $color-light;
  text-transform: uppercase;
  border: 1px solid $color-light;
  border-radius: 3px;
  font: 700 0.88em/1em $ff-titles;
  letter-spacing: 0.05em;
  user-select: none;
  transition: color 0.3s ease 0s, background-color 0.3s ease 0s, transform 0.3s ease 0s;
  max-width: 300px;
  text-align: center;

  @include vp-1024 {
    display: none;
  }

  @media (hover: hover), screen and (min-width: $vp-1024) {
    &:hover,
    &:focus {
      outline: none;
      color: $color-dark-blue;
      background-color: $color-light;
    }
  }

  &:active {
    transform: scale(0.9);
  }
}
