.questions {
  background-color: $color-light-blue;
}

.questions__bg {
  padding: 132px 0 250px;
  position: relative;
  background: url("../img/paper-airplane.png") calc(46% - 298px) 44% no-repeat, url("../img/svg/mask.svg") 0 0 no-repeat;
  background-size: auto, contain;
  background-color: $color-light-blue;

  @include retinaD {
    background-image: url("../img/paper-airplane@2x.png"), url("../img/svg/mask.svg");
    background-size: 510px 285px, contain;
  }

  @include vp-1350 {
    background-position: calc(40% - 298px) center, 0 0;
  }

  @include vp-1024 {
    padding: 13px 0 125px;
    background-image: none;
  }

  @include vp-768 {
    padding: 20px 0 78px;
  }
}

.questions__wrapper {
  padding: 0 8px 0 51.5%;

  @include vp-1350 {
    padding: 0 0 0 45%;
  }

  @include vp-1024 {
    padding: 0;
  }

  p {
    &:first-of-type {
      font: 400 2.25em/1.2em $ff-titles;
      margin-bottom: 15px;

      @include vp-1024 {
        margin-bottom: 7px;
      }

      @include vp-768 {
        font: 400 1.88em/1.3em $ff-titles;
        margin-bottom: 2px;
      }
    }

    font: 400 1em/1.2em $ff-default;
    color: $color-default-white;
    margin-bottom: 37px;

    @include vp-1024 {
      margin-bottom: 25px;
    }

    @include vp-768 {
      font: 400 0.88em/1.2em $ff-default;
      margin-bottom: 34px;
    }
  }
}
