.services {
  padding: 65px 0 120px;
  background-color: $color-dark-blue;

  @include vp-1024 {
    padding: 55px 0 72px;
  }

  @include vp-768 {
    padding: 48px 0 85px;
  }

  p {
    @include reset-margins;
    font: 400 2.25em/1.4em $ff-titles;
    color: $color-default-white;
    margin-bottom: 55px;

    @include vp-1024 {
      margin-bottom: 40px;
    }

    @include vp-768 {
      font: 400 1.75em/ 1.4em $ff-titles;
      margin-bottom: 28px;
    }

    &:first-of-type {
      @include vp-768 {
        display: none;
      }
    }

    &:last-of-type {
      display: none;

      @include vp-768 {
        display: block;
      }
    }
  }
}

.services__list {
  @include reset-margins;
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  @include vp-1024 {
    flex-direction: column;
  }
}

.services__item {
  flex: 0 1 28.7%;
  overflow: hidden;
  margin-bottom: 20px;

  &:not(:nth-of-type(3n)) {
    margin-right: 6.9%;
  }

  @include vp-1024 {
    flex: 1 1 100%;
    margin-bottom: 0;

    &:not(:nth-of-type(3n)) {
      margin-right: 0;
    }

    &:not(:last-of-type) {
      margin-bottom: 30px;
    }
  }
}

.services__link {
  padding: 48px 40px;
  display: block;
  width: 100%;
  min-height: 650px;
  cursor: pointer;
  position: relative;

  @include vp-1024 {
    padding: 35px 45px;
    min-height: 250px;
  }

  @include vp-768 {
    padding: 28px 30px;
  }

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $color-intro-bg;
  }

  h3 {
    @include reset-margins;
    font: 400 1.25em/1.5em $ff-titles;
    color: $color-default-white;
    position: relative;
    max-width: 180px;
    z-index: 2;

    @include vp-1024 {
      max-width: 150px;
    }

    @include vp-768 {
      font: 400 1.13em/1.55em $ff-titles;
      max-width: 120px;
    }
  }

  div {
    position: absolute;
    z-index: 2;
    bottom: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background-color: $color-light-blue;
    border-radius: 3px 0 0 0;
    transition: transform 0.3s ease 0s;
    cursor: pointer;

    @include vp-768 {
      width: 40px;
      height: 40px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 10px;
      height: 10px;
      background: url("../img/svg/icon-arrow.svg") center center no-repeat;
    }
  }

  img {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center top;
    background-color: $color-dark-blue;
    transition: transform 0.3s ease 0s;

    @include vp-768 {
      object-position: center 75%;
    }
  }

  @media (hover: hover), screen and (min-width: $vp-1024) {
    &:hover img,
    &:focus img {
      transform: scale(1.1);
    }

    &:hover div,
    &:focus div {
      transform: scale(1.5);

      &::before {
        top: 43%;
        right: 0;
        left: 43%;
      }
    }
  }

  &:active div {
    transform: scale(1.5);

    &::before {
      transform: scale(1.7) translate(-30%, -25%);

      @include vp-1024 {
        transform: scale(1.7) translate(-50%, -55%);
      }
    }
  }
}
