.social-list {
  @include reset-margins;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: -3px 0 0 3px;

  @include vp-1024 {
    margin: -7px -12px 0 0;
    justify-content: flex-end;
  }

  @include vp-768 {
    margin: -7px 0 22px 2px;
    justify-content: center;
  }
}

.social-list__item {
  padding: 0 15px;
  margin: 0 -7.5px;
}

.social-list__link {
  transition: opacity 0.3s ease 0s, fill 0.3s ease 0s;
  display: block;
  font-size: 0;
  line-height: 0;
  padding: 5px;

  @media (hover: hover), screen and (min-width: $vp-1024) {
    &:hover,
    &:focus {
      outline: none;
      opacity: 0.6;
    }
  }

  svg {
    fill: $color-light-svg;
  }

  &:active svg {
    fill: $color-light-blue;
  }
}
