.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 $desktop-padding;

  @include vp-1350 {
    padding: 0 $predesktop-padding;
  }

  @include vp-1024 {
    padding: 0 $tablet-padding;
  }

  @include vp-768 {
    padding: 0 $mobile-padding;
  }
}
