// Colors
// ---------------------------------

// Default

$color-default-black:               #000000;
$color-default-white:               #ffffff;
$color-transparent:                 rgba(255, 255, 255, 0);
$color-error:                       #ff0000;

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

$color-light:                       #f2f5f6;
$color-overlay:                     rgba(3, 16, 27, 0.7);
$color-dark-blue:                   #041827;
$color-light-blue:                  #00b2ff;
$color-light-svg:                   #f8fdff;
$color-border-cards:                #ebebeb;
$color-blue-form:                   #041427;

// Gradient

$black-to-right:                    linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 75%);
$blue-to-transporent:               linear-gradient(180deg, rgba(4, 24, 39, 1) 84.9%, rgba(4, 24, 39, 0) 100%);
$color-intro-bg:                    linear-gradient(180deg, rgba(25, 32, 36, 0.7) 71.7%, rgba(25, 32, 36, 0) 100%);

// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default:                        16px;
$ff-default:                        "PT Mono", "Arial", sans-serif;
$ff-titles:                         "Roboto Condensed", "Arial", sans-serif;

// Viewports
// ---------------------------------

$vp-320:                            320px;
$vp-768:                            768px;
$vp-1024:                           1024px;
$vp-1350:                           1350px;

// Retina
// ---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;

// Paddings
// ---------------------------------
$desktop-padding:                   350/1920 * 100%;
$predesktop-padding:                28/1350 * 100%;
$tablet-padding:                    50/768 * 100%;
$mobile-padding:                    25px;
